@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/*====== Base styles =======*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 1.5rem 0 0 0;
	font-family: "Lato", sans-serif;
	background-color: rgb(41, 41, 41);
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	border: none;
	outline: none;
}

p {
	font-weight: 300;
}

/*==== Reuse classes ====*/
.container {
	max-width: 500px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.header__card {
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	background-color: #525252d0;
}

.header__name {
	margin-top: 1.5rem;
	color: white;
}

.header__profile {
	margin-top: 0.5rem;
	color: white;
}

.links {
	margin-top: 1.5rem;
}

.click {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	padding: 0.75rem;
	border-radius: 1000rem;
}

.port {
	background: rgb(255, 115, 0);
}

.git {
	background: #181717;
}

.you {
	background: #ff0000;
}

.linked {
	background: #0a66c2;
}

.insta {
	background: #e4405f;
}

svg {
	max-width: 18px;
	height: 20px;
}

.link__card {
	background-color: aliceblue;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	margin-top: 2rem;
	padding: 2rem;
}

.setup {
	background-color: #525252d0;
}

.vscode {
	background-color: #43a700;
}

.setup__title {
	color: white;
}

.setup__address {
	color: white;
}

@media screen and (min-width: 576px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 767px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 992px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
}
